<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songqingchao.mapper.PingFenMapper">
    <select id = "selectById" resultType="PingFen">
    select
    *
    from
    pingfen
    where uid = ${uid}
 </select>
    <select id = "selectById2" resultType="PingFen">
    select
    *
    from
    pingfen
    where uid = #{uid}
 </select>
<insert id="insert">
insert
into
pingfen(nid)
values(#{nId})
</insert>
<select id = "cursor" resultType="PingFen" fetchSize="-2147483648">
    select
    *
    from
    pingfen
 </select>

</mapper>