<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songqingchao.mapper.PingfenMapper">
    <select id = "selectById" resultType="PingFen">
    select
    *
    from
    pingfen
    where uid = ${uid}
 </select>
    <select id = "selectById2" resultType="PingFen">
    select
    *
    from
    pingfen
    where uid = #{uid}
 </select>
</mapper>